<div class="row">
    <div class="overlay-close">
        <span class="close-icon">x</span>
    </div>
    <nav>
        <ul>
            {% for link in linklists.overlay-menu.links %}
                <li>
                    <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>

    <div class="mini-cart">
        {%- include 'mini-cart' -%}
    </div>
</div>